body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
  }
  
  button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  h1, p {
    margin: 0;
  }
  